.topNav{
  background-color: #005eb8;
  overflow: hidden;
  margin-top: 0px;
}
.topNav a{
  float: inline-end;
  display: block;
  color: white;
  text-align: center;
  padding: 17px 21px;
  text-decoration: none;
  font-size: 20px;
}
.topNav a:hover{
  background-color: white;
  color: black;
}
.topNav a.Active{
  background-color:white;
  color:black;
}
.Logo{
  float: inline-start;
  display: block;
  height:55px;
  margin-left: 10px;
}
